@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-300;
}

@media screen and (max-width:425px) {
  :root{
    font-size: 12px;
  }
}
